footer {
    padding: var(--spacing-md);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-brown);

    & a {
        color: var(--color-white);
    }
    & > div {
        padding: var(--spacing-md);
    }

    & .credits {
        font-size: var(--font-xs);
    }
}
