@import "../main.css";

nav {
    & .items {
        padding: var(--spacing-sm);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-sm);

        & .nav-item {
            & a {
                display: flex;
                align-items: flex-end;
                color: var(--color-brown);
                text-decoration: none;

                & img {
                    width: 20px;
                    margin-right: var(--spacing-xs);
                }

                & span {
                    font-weight: bold;
                }
            }

            & + & {
                margin-left: var(--spacing-xs);
            }
        }
    }
}

.nav-wrap {
    position: sticky;
    top: 0;
    z-index: 9999;
}
