@import "../main.css";

.garden-header {
    background-color: var(--color-brown);
    color: var(--color-white);
    padding: var(--spacing-xs);
    border: 1px var(--color-brown) solid;
}

.post-listing {
    display: flex;
    grid-gap: var(--spacing-xs);
    border: dotted 1px var(--color-brown);

    & + & {
        border-top: none;
    }

    & .date-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: var(--spacing-sm);
        border-right: dotted 1px var(--color-brown);
        text-align: center;

        & .month {
            font-weight: bold;
            font-size: var(--font-min);
        }

        & .year {
            font-size: var(--font-min);
        }
    }

    & .text-content {
        padding: var(--spacing-sm);
        & * + * {
            margin-top: var(--spacing-xs);
        }

        & .category {
            font-size: var(--font-xs);
            font-weight: bold;
        }

        & .post-title {
            font-size: var(--font-sm);
        }

        & .post-description {
            font-size: var(--font-xs);
        }
    }
}
