#stamp {
    position: relative;
    --r: 14px;
    /* aspect-ratio: 1.5/1; */
    padding: var(--spacing-sm);
    background: var(--color-white);
    mask:
        radial-gradient(50% 50%, #0000 66%, #000 67%) round var(--r) var(--r) /
            calc(2 * var(--r)) calc(2 * var(--r)),
        conic-gradient(#000 0 0) content-box;

    & .stamp-image {
        position: relative;
        & > img,
        video {
            object-fit: cover;
            max-height: 200px;
        }
    }

    & .meta {
        display: none;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: var(--color-white);
        z-index: 999;

        & a {
            color: var(--color-white);
        }
    }

    & .info {
        padding: var(--spacing-sm);

        & .title {
            font-size: var(--font-sm);
        }

        & .description {
            font-size: var(--font-xs);
        }
    }

    &:hover {
        & .stamp-image {
            &::after {
                content: "";
                display: block;
                background-color: var(--color-black);
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0.5;
            }
        }

        & .meta {
            display: block;
        }
    }
}
