<!-- {
    Object.keys(postsByMonth).map((key) => {
        const posts = postsByMonth[key]
        const monthNumber = Number(key)

        return (
            <>
                <div class="garden-header">{MONTHS[monthNumber]}</div>

                {posts.map((post) => (
                    <PostListing postFile={post} />
                ))}
            </>
        )
    })
} -->
