@import "../main.css";
@import "../components/post-listing.css";

#garden {
    & .garden-header {
        background-color: var(--color-brown);
        color: var(--color-white);
        padding: var(--spacing-xs);
    }

    & #garden-categories {
        display: flex;

        & .garden-category-tag {
            border: 1px var(--color-brown) solid;
            padding: var(--spacing-xs);

            & + .garden-category-tag {
                margin-left: var(--spacing-xs);
            }
        }
    }
}
