@import "../main.css";
@import "../components/post-listing.css";

#garden {
    & #garden-search {
        margin: var(--spacing-xs) 0;
    }

    & #garden-categories {
        display: flex;
        position: relative;
        top: 2px;

        & .garden-category-tag {
            border: 1px var(--color-brown) solid;
            padding: var(--spacing-xs);

            & + .garden-category-tag {
                margin-left: var(--spacing-xs);
            }

            &[data-selected="true"] {
                background-color: var(--color-brown);
                color: var(--color-white);
            }
        }
    }

    & #garden-search {
        padding: 10px;
        width: 100%;
    }
}
