@import "../main.css";

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-md) 0;

    & #intro-container {
        height: 90vh;
    }

    & .text-red {
        color: var(--color-rose);
    }

    & hero-image {
        aspect-ratio: 1/1;
    }

    & #portfolio {
        & .portfolio-layout {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem; /* spacing between items */

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        & instax {
            height: auto;
        }
    }

    & #hero {
    }

    & #contact {
        text-align: center;

        & .contact-list {
            display: flex;
            justify-content: center;
            grid-gap: var(--spacing-sm);

            & .nav-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-weight: 200;

                & > a {
                    margin-top: var(--spacing-sm);
                    font-size: var(--font-sm);
                }

                & img {
                    width: 28px;
                }
            }
        }
    }

    & #portfolio {
        text-align: center;
    }

    & #description {
        font-size: var(--font-sm);
        letter-spacing: 0.05em;
        line-height: 1.2;
        text-wrap: pretty;
        text-align: center;
        align-items: center;
        justify-items: center;

        & > img {
            display: block;
            height: auto;
            min-width: 0;
            max-width: 100%;
            width: 50%;
        }
    }

    & #hero-deco-text {
        & h1 {
            text-align: center;
            color: var(--color-pink);
            font-size: var(--font-xl);
            font-family: var(--font-lex);
        }
    }
}
