@import "../layout.css";
@import "../main.css";

#portfolio {
    & .portfolio-grid {
        columns: 1;

        @media (--breakpoint-md-min) {
            columns: 2;
            column-gap: var(--spacing-xl);
        }

        & .stamp {
            break-inside: avoid;
            margin-bottom: var(--spacing-lg);

            @media (--breakpoint-md-min) {
                margin-bottom: var(--spacing-xl);
            }
        }
    }
}
