@import "./reset.css";

@import "./components/nav.css";

:root {
    --color-fairy-500: #f0c4cc;
    --color-fairy-50: #ffefed;
    --color-rose: #b71c1c;
    --color-rose: #b71c1c;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-brown: #6d5050;
    --color-pink: #ec889e;

    --font-fancy: "amandine", sans-serif;
    --font-text: "museo-sans-rounded", sans-serif;
    --font-lex: "Lexend", sans-serif;

    --spacing-min: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 32px;
    --spacing-lg: 40px;
    --spacing-xl: 56px;
    --spacing-2xl: 80px;

    --font-min: 10px;
    --font-xs: 12px;
    --font-sm: 18px;
    --font-md: 24px;
    --font-lg: 32px;
    --font-xl: 48px;
    --font-2xl: 52px;

    --page-contain: 72rem;
    --page-contain-small: 50rem;

    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
}

body {
    background-color: var(--color-fairy-50);
    font-family: var(--font-text);
    color: var(--color-brown);
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.lock {
    max-width: var(--page-contain);
    margin: 0 auto;
    padding: 0 var(--spacing-md);

    &[data-size="small"] {
        max-width: var(--page-contain-small);
    }
}

h2 {
    font-family: var(--font-lex);
    font-size: var(--font-md);
    color: var(--color-pink);
    margin-bottom: var(--spacing-sm);
}

section {
    margin-bottom: var(--spacing-xl);
}

header {
    & > div {
        padding: var(--spacing-md);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & a + a {
        margin-left: 4px;
    }
}

footer {
    text-align: center;

    & > div {
        padding: var(--spacing-md);
    }
}
