@import "./reset.css";

:root {
    --color-fairy-500: #f0c4cc;
    --color-fairy-50: #fcf1f2;
    --color-sunset: #ffc97e;

    --spacing-min: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 32px;
    --spacing-lg: 40px;
    --spacing-xl: 56px;
    --spacing-2xl: 80px;

    --font-min: 10px;
    --font-xs: 12px;
    --font-sm: 16px;
    --font-md: 24px;
    --font-lg: 32px;
    --font-xl: 48px;

    --page-contain: 120ch;
    --page-contain-small: 150ch;
}

body {
    background-color: var(--color-fairy-50);
    font-family: "Nunito", serif;
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.lock {
    max-width: var(--page-contain);
    margin: 0 auto;

    &[data-size="small"] {
        max-width: var(--page-contain-small);
    }
}

main {
    margin: var(--spacing-xl) auto;
}

h1,
h2 {
    font-family: "the-seasons", sans-serif;
}

#home {
    & .hero {
        display: flex;
        align-items: center;
        grid-gap: var(--spacing-md);
    }

    & .cta {
        text-align: center;
        margin-top: var(--spacing-md);

        & h2 {
            font-size: var(--font-md);
            font-weight: 800;
        }

        & .contact-list {
            display: flex;
            justify-content: center;
            grid-gap: var(--spacing-sm);
            margin-top: var(--font-md);

            & .nav-item {
                display: flex;
                flex-direction: column;
                align-items: center;

                & > a {
                    margin-top: var(--spacing-sm);
                    font-size: var(--font-sm);
                }

                & > img {
                    width: 32px;
                }
            }
        }
    }

    & #description {
        & > p:first-of-type {
            font-size: var(--font-xl);
            font-family: "the-seasons", sans-serif;
            font-weight: 800;
        }

        & > p + p {
            margin-top: var(--spacing-md);
        }
    }

    & #portfolio {
        & h2 {
            font-size: var(--font-md);
            font-weight: 800;
        }
    }
}

section {
    margin-bottom: var(--spacing-xl);
}

header {
    background-color: var(--color-fairy-500);

    & > div {
        padding: var(--spacing-md);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

footer {
    text-align: center;
    background-color: var(--color-fairy-500);

    & > div {
        padding: var(--spacing-md);
    }
}
