@import "./reset.css";
@import "./components/nav.css";
@import "./components/footer.css";
@import url("https://use.typekit.net/wzu6jqe.css");

@custom-media --breakpoint-sm-min (min-width: 480px);
@custom-media --breakpoint-md-min (min-width: 768px);
@custom-media --breakpoint-lg-min (min-width: 1024px);

:root {
    --color-fairy: #fffdfd;
    --color-fairy-50: #ffe9e7;
    --color-rose: #b71c1c;
    --color-rose: #b71c1c;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-brown: #6d5050;
    --color-brown-light: #a48888;
    --color-pink: #ec889e;

    --font-fancy: "amandine", sans-serif;
    --font-text: "museo-sans-rounded", sans-serif;
    --font-lex: "Lexend", sans-serif;
    --font-round: "ohno-softie-variable", sans-serif;
    --spacing-min: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 32px;
    --spacing-lg: 40px;
    --spacing-xl: 56px;
    --spacing-2xl: 80px;
    --spacing-3xl: 180px;

    --font-min: 12px;
    --font-xs: 14px;
    --font-sm: 16px;
    --font-md: 24px;
    --font-lg: 32px;
    --font-xl: 64px;
    --font-2xl: 84px;
    --font-3xl: 128px;

    --page-contain: 100ch;
    --page-contain-sm: 60ch;
    --page-contain-xs: 50ch;
}

body {
    background-color: var(--color-fairy-50);
    font-family: var(--font-text);
    color: var(--color-brown);
    min-height: 100vh;
    line-height: 1.5;
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.lock {
    max-width: var(--page-contain);
    margin: 0 auto;
    padding: 0 var(--spacing-md);

    &[data-size="small"] {
        max-width: var(--page-contain-sm);
    }

    &[data-size="min"] {
        max-width: var(--page-contain-xs);
    }
}

h2 {
    font-family: var(--font-lex);
    font-size: var(--font-md);
    color: var(--color-pink);
    margin-bottom: var(--spacing-sm);
}

section {
    margin-bottom: var(--spacing-xl);
}

header {
    & > div {
        padding: var(--spacing-md);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & a + a {
        margin-left: 4px;
    }
}
