<div class="lock">
    <div class="links">
        <a href="">Email</a>
        <a href="">GitHub</a>
        <a href="">LinkedIn</a>
    </div>

    <a href="" id="copy-email">lumeidev@gmail.com</a>
    <p class="credits">
        Code and illustrations by me. Digital Garden design inspired by the
        ほぼ日手帳 (Hobonichi Techo), my most beloved notebook in the world!
    </p>
</div>
