---
import Layout from "../templates/layouts/layout.astro"
---

<Layout title="About Me">
    <div id="about">
        <section id="hero" class="lock" data-size="small">
            <p>
                Hi there, I'm Mei! It's tough to put one label on anyone, but I
                think creative developer is a good start.
            </p>
            <br />
            <p>
                Currently I'm working full time as a dev in Marketing and
                Communications at the University of Maryland. I'm also persuing
                a masters in Artificial Intelligence (yay for discounted
                tuition). I will graduate in December 2026 and can finish the
                rest of my courses remotely, so I am open to relocation!
            </p>
            <br />
            <p>
                I am exploring combining my technical skills with art. I'm
                currently learning how to write shaders, making effects in game
                engines, 3D modeling, and learning more computer graphics
                knowledge.
            </p>
            <br />
            <p>
                I first fell in love with art when watching "Card Captor Sakura"
                on TV as a kid in China. The channel would air the artist
                teaching you how to draw characters, and I would run to grab a
                pencil and paper to follow along. Since then, I have loved to
                create in many mediums.
            </p>
            <br />
            <p>
                I also discovered code as a tool to do customize absolutely
                everything. I wanted so badly to make my Nintendo 3DS have a
                pink pixel art UI, so I *allegedly* sideloaded themes into it
                and dumped my save data for Animal Crossing to edit my town on
                my laptop. Fast forward...and I get a Bachelors degree in
                Computer Science!
            </p>
            <br />
            <p>
                In my free time I like to send snail mail to kind strangers
                around the globe on <a
                    href="https://www.postcrossing.com/"
                    target="_blank">Postcrossing</a
                >. I scrapbook using my Hobonichi Techo Weeks where I stop
                hoarding stickers and actually put them to good use. I also do
                photography and subsequently paste the pics into my journal. <span
                    class="sr-only">Laughing kaomoji</span
                ><span aria-hidden="true">(˶˃ᗢ˂˶)</span>
            </p>
            <br />
            <p>Thanks for visiting my site and learning about me!</p>
        </section>
    </div>
</Layout>
