---
import "../styles/pages/garden.css"
import Layout from "../templates/layouts/layout.astro"
import {
    getLatestPosts,
    getPostsByYear,
    getPostMonths,
    groupPostsByMonth,
} from "../scripts/garden.ts"
import PostListing from "../templates/components/garden/post-listing.astro"
import { CATEGORIES, MONTHS } from "../scripts/_types"
const latestPost = await getLatestPosts(1)
const currentDateTime = new Date()
const currentYear = currentDateTime.getFullYear()
const currentYearPosts = await getPostsByYear(currentYear)
const monthsForCurrentYear = getPostMonths(currentYearPosts)

const postsByMonth = groupPostsByMonth(currentYearPosts)
---

<Layout title="mei's digital garden">
    <main id="garden" class="lock">
        <section id="garden-content">
            <h1>digital garden</h1>

            <p>
                my digital <a
                    target="_blank"
                    aria-label="Wikipedia page of the Hobonichi Techo"
                    href="https://en.wikipedia.org/wiki/Hobonichi_Techo"
                    >techo</a
                >
                collecting reflections and interesting things
            </p>
        </section>

        <section id="garden-filters">
            <div id="garden-toggle-year">
                <div>
                    <span>&lt</span>
                    <span>{currentYear}</span>
                    <span>&gt</span>
                </div>
            </div>

            <div id="garden-searchbar"><input placeholder="search" /></div>

            <div id="garden-categories">
                {
                    CATEGORIES.map((category) => {
                        return (
                            <div class="garden-category-tag">
                                <span>{category}</span>
                            </div>
                        )
                    })
                }
            </div>
        </section>

        <section id="garden-results">
            {
                Object.keys(postsByMonth).map((key) => {
                    const posts = postsByMonth[key]
                    const monthNumber = Number(key)

                    return (
                        <>
                            <div class="garden-header">
                                {MONTHS[monthNumber]}
                            </div>

                            {posts.map((post) => (
                                <PostListing postFile={post} />
                            ))}
                        </>
                    )
                })
            }
        </section>
    </main>
</Layout>
