---
import "../styles/pages/garden.css"
import Layout from "../templates/layouts/layout.astro"
import { getLatestPosts, getPostsByYear } from "../scripts/garden.ts"
import type { MarkdownContent } from "astro"
import PostListing from "../templates/components/garden/post-listing.astro"
import { getCollection } from "astro:content"

const latestPost: MarkdownContent[] = getLatestPosts(1)
const currentDateTime = new Date()
const currentYear = currentDateTime.getFullYear()
const testing: MarkdownContent[] = getPostsByYear(2025)

// const getPostMonths = () => await getCollection(
//     "garden",
//     ({ data }: { data: MarkdownContent }) => {
//         const currentYear = currentDateTime.getFullYear()

//         const months: Set<string> = new Set()
//         const postDate: Date = data.date
//         const postYear = postDate.getFullYear()

console.log(getPostsByYear(currentYear))
//     }
// )
---

<Layout title="mei's digital garden">
    <main id="garden" class="lock">
        <section id="garden-content">
            <h1>digital garden</h1>

            <p>
                my online <a
                    target="_blank"
                    aria-label="Wikipedia page of the Hobonichi Techo"
                    href="https://en.wikipedia.org/wiki/Hobonichi_Techo"
                    >techo</a
                >
                collecting thoughts, interests, and cool things
            </p>
        </section>

        <section id="garden-filters">
            <div id="garden-searchbar">search</div>
            <div>
                <div>
                    <span>&lt</span>
                    <span>2025</span>
                    <span>&gt</span>
                </div>

                <div>
                    <span>jan</span>
                    <span>5</span>
                </div>
                <div>
                    <span>feb</span>
                    <span>2</span>
                </div>
            </div>
        </section>

        <section id="garden-results">
            <div class="garden-header">NOVEMBER</div>
            {latestPost.map((post) => <PostListing postFile={post} />)}
            <!-- {testing.map((post) => <PostListing postFile={post} />)} -->
            <!-- {testing.map((post) => <PostListing postFile={post} />)} -->
        </section>
    </main>
</Layout>
