---
import "../styles/pages/home.css"
import GithubIcon from "../assets/github.svg"
import EmailIcon from "../assets/email.svg"
import LinkedinIcon from "../assets/linkedin.svg"
import Layout from "../templates/layouts/layout.astro"
---

<Layout title="mei">
    <div id="home">
        <section id="hero" class="lock" data-size="min">
            <h1 class="bubble-letter" id="name">Mei Lu</h1>

            <div class="hero-container">
                <p>
                    I'm a creative developer interested in computer graphics, 3D
                    art, and cute things! I am building interactive experiences
                    in real time.
                    <br /><br />

                    Currently working as a Full Stack Engineer and pursuing my
                    M.S. in Artificial Intelligence from the University of
                    Maryland, College Park
                </p>
            </div>
        </section>

        <section id="contact" class="lock">
            <div id="instax-slider">
                <svg
                    viewBox="0 0 443 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        id="instax-path"
                        d="M0.157181 0.47464C152.657 50.9746 311.157 54.9746 442.657 0.47464"
                        stroke="black"></path>
                </svg>
                <div id="instax-1" class="instax-wrapper">
                    <div class="instax-card">
                        <div class="instax-image">
                            <a
                                href="https://www.linkedin.com/in/meil"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="instax-card"
                                ><img
                                    src={LinkedinIcon.src}
                                    alt="LinkedIn"
                                /></a
                            >
                        </div>
                        <p class="instax-info">
                            <a
                                href="https://www.linkedin.com/in/meil"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="instax-card">LinkedIn</a
                            >
                        </p>
                    </div>
                </div>
                <div id="instax-2" class="instax-wrapper">
                    <div class="instax-card">
                        <div class="instax-image">
                            <a
                                href="https://github.com/mei-lu"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="instax-card"
                                ><img src={GithubIcon.src} alt="GitHub" /></a
                            >
                        </div>
                        <p class="instax-info">
                            <a
                                href="https://github.com/mei-lu"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="instax-card">GitHub</a
                            >
                        </p>
                    </div>
                </div>
                <div id="instax-3" class="instax-wrapper">
                    <div class="instax-card">
                        <div class="instax-image">
                            <a
                                href="mailto:lumeidev@gmail.com"
                                class="instax-card"
                                ><img src={EmailIcon.src} alt="Email" /></a
                            >
                        </div>
                        <p class="instax-info">
                            <a
                                href="mailto:lumeidev@gmail.com"
                                class="instax-card">Email</a
                            >
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</Layout>

<script>
    import gsap from "gsap"
    import { SplitText } from "gsap/all"
    import Sakura1 from "../assets/sakura1.svg?raw"
    import Sakura2 from "../assets/sakura2.svg?raw"
    import Sakura3 from "../assets/sakura3.svg?raw"
    import Sakura4 from "../assets/sakura4.svg?raw"
    import MotionPathPlugin from "gsap/MotionPathPlugin"
    import { debounce } from "../scripts/utilities"

    gsap.registerPlugin(MotionPathPlugin)

    const SakuraPetals = () => {
        const PETAL_COUNT = 25

        const sakuraPetals = [Sakura1, Sakura2, Sakura3, Sakura4]
        const petalListLength = sakuraPetals.length
        const petalElements: HTMLElement[] = []
        let width = window.innerWidth

        const createPetal = (petalIndex: number) => {
            const petalSVG = sakuraPetals[petalIndex]

            return petalSVG
        }

        const homeSection = document.querySelector<HTMLElement>("#home")

        if (!width || !homeSection) return

        for (let i = 0; i < PETAL_COUNT; i++) {
            const randomPetalIndex = Math.floor(Math.random() * petalListLength)
            const petalContainer = document.createElement("span")
            petalContainer.className = "petal"
            petalContainer.ariaHidden = "true"

            const petal = createPetal(randomPetalIndex)
            petalContainer.innerHTML = petal
            petalElements.push(petalContainer)
        }

        const initalizePetal = (petal: HTMLElement) => {
            gsap.set(petal, {
                scale: 0.15,
                left: `random(-300, -200)`,
                y: gsap.utils.random(-100, 200),
                x: gsap.utils.random(0, 200),
                rotate: gsap.utils.random(-50, 50),
                opacity: 1,
            })

            gsap.to(petal, {
                scale: gsap.utils.random(0.2, 0.3),
                top: 300,
                x: width * 1.03,
                ease: "power1.inOut",
                duration: 4,
                repeat: -1,
                opacity: 0,
            })
        }

        const startShower = () => {
            petalElements.forEach((petal, index) => {
                homeSection.appendChild(petal)
                gsap.delayedCall(index * 0.2, () => initalizePetal(petal))
            })
        }

        startShower()

        window.addEventListener(
            "resize",
            debounce(() => {
                width = window.innerWidth
                petalElements.forEach((petal) => {
                    gsap.killTweensOf(petal)
                    initalizePetal(petal)
                })
            }, 150)
        )
    }

    const InstaxPolaroids = () => {
        const positions = {
            mobile: { "instax-1": 0.85, "instax-2": 0.5, "instax-3": 0.15 },
            desktop: { "instax-1": 0.85, "instax-2": 0.5, "instax-3": 0.15 },
        }

        const placeCard = (id: keyof typeof positions.mobile) => {
            const isMd = window.matchMedia("(min-width: 768px)").matches
            const position = isMd ? positions.desktop[id] : positions.mobile[id]

            gsap.set(`#${id}`, {
                motionPath: {
                    path: "#instax-path",
                    align: "#instax-path",
                    alignOrigin: [0.5, 0],
                    autoRotate: true,
                    end: position,
                },
            })
        }

        const cards = ["instax-1", "instax-2", "instax-3"] as const

        cards.forEach(placeCard)

        window.addEventListener(
            "resize",
            debounce(() => cards.forEach(placeCard), 150)
        )
    }

    const AnimateName = () => {
        const split = SplitText.create("#name")

        gsap.from(split.chars, {
            scale: 0,
            duration: 1,
            stagger: 0.25,
            autoAlpha: 0,
        })
    }

    const prefersReducedMotion = window.matchMedia(
        "(prefers-reduced-motion: reduce)"
    ).matches

    if (!prefersReducedMotion) {
        SakuraPetals()
        AnimateName()
    }
    InstaxPolaroids()
</script>
