---
import "../styles/pages/home.css"
import GithubIcon from "../assets/github.svg"
import EmailIcon from "../assets/email.svg"
import LinkedinIcon from "../assets/linkedin.svg"
import ResumeIcon from "../assets/resume.svg"
import Layout from "../templates/layouts/layout.astro"
---

<Layout title="mei" js="/scripts/app.ts" />
<main id="home">
    <section id="hero">
        <div id="description" class="lock" data-size="small">
            <p>
                i'm a creative developer who loves design, interaction, and cute
                things ₊˚⊹
                <br /><br />
                currently working as a full stack engineer while persuing a M.S.
                in artificial intelligence from the university of maryland
            </p>
        </div>
    </section>

    <section id="portfolio">
        <div class="lock">
            <h2>featured projects</h2>
        </div>
    </section>

    <section id="contact">
        <h2>get in touch!</h2>
        <div class="contact-list">
            <div class="nav-item">
                <a href="mailto:lumeidev@gmail.com">
                    <img src={EmailIcon.src} alt="Email icon" />
                </a>
            </div>

            <div class="nav-item">
                <a
                    href="https://github.com/mei-lu"
                    target="_blank"
                    rel="noopener noreferrer">
                    <img src={GithubIcon.src} alt="Github logo" />
                </a>
            </div>

            <div class="nav-item">
                <a
                    href="https://www.linkedin.com/in/meil"
                    target="_blank"
                    rel="noopener noreferrer">
                    <img src={LinkedinIcon.src} alt="LinkedIn logo" />
                </a>
            </div>

            <div class="nav-item">
                <a href="/resume.pdf" target="_blank" rel="noopener noreferrer">
                    <img src={ResumeIcon.src} alt="Resume icon" />
                </a>
            </div>
        </div>
    </section>
</main>
