---
import "../styles/main.css"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="https://use.typekit.net/wzu6jqe.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
            rel="stylesheet"
        />
        <title>mei lu | developer</title>
    </head>
    <body>
        <header>
            <div class="lock" data-size="small">
                <a href="#main" class="skip-link sr-only">
                    Skip to main content
                </a>
                <div><h1>mei lu</h1></div>
                <div class="nav-items">
                    <a>about</a>
                    <a>portfolio</a>
                </div>
            </div>
        </header>

        <main id="home">
            <section>
                <div class="hero lock">
                    <div id="hero-image"></div>

                    <div id="description">
                        <p>nice to meet you, i'm mei 🧸</p>

                        <p>
                            i'm a creative developer who loves cute things! <br
                            />i make experiences for the web. ꒰ᐢ. .ᐢ꒱₊˚⊹
                        </p>

                        <div class="cta">
                            <h2>get in touch</h2>

                            <div class="contact-list">
                                <div class="nav-item">
                                    <img
                                        src="src/pages/assets/github.svg"
                                        alt="Github logo"
                                    />
                                    <a>github</a>
                                </div>

                                <div class="nav-item">
                                    <img
                                        src="src/pages/assets/linkedin.svg"
                                        alt="Linkedin logo"
                                    />
                                    <a>linkedin</a>
                                </div>

                                <div class="nav-item">
                                    <img
                                        src="src/pages/assets/calendar.svg"
                                        alt="Calendar icon"
                                    />
                                    <a>coffee chat</a>
                                </div>

                                <div class="nav-item">
                                    <img
                                        src="src/pages/assets/email.svg"
                                        alt="Email icon"
                                    />
                                    <a>email</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="portfolio">
                <div class="lock">
                    <h2>dev portfolio</h2>
                </div>
            </section>
        </main>

        <footer>
            <div class="lock" data-size="small">
                <p>© 2025 mei lu | github</p>
            </div>
        </footer>

        <script type="module">
            import { initHeartScene } from "/src/scripts/app.ts"

            window.addEventListener("DOMContentLoaded", () => {
                initHeartScene()
            })
        </script>
    </body>
</html>
