---
import "../styles/pages/home.css"
import GithubIcon from "../assets/github.svg"
import EmailIcon from "../assets/email.svg"
import LinkedinIcon from "../assets/linkedin.svg"
import Layout from "../templates/layouts/layout.astro"
---

<Layout title="mei" js="/scripts/app.ts" />
<main id="home">
    <section id="hero">
        <div id="description" class="lock">
            <p>
                I'm a creative developer who loves cute things! ₊˚⊹
                <br /><br />
                Currently working as a Full Stack Engineer and getting my M.S. in
                Artificial Intelligence from the University of Maryland
            </p>
        </div>
    </section>

    <section id="contact">
        <h2>Get in Touch!</h2>
        <div class="contact-list">
            <div class="nav-item">
                <a
                    href="mailto:lumeidev@gmail.com"
                    aria-label="Send me an email">
                    <img src={EmailIcon.src} alt="Email icon" />
                </a>
            </div>

            <div class="nav-item">
                <a
                    href="https://github.com/mei-lu"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="View my GitHub">
                    <img src={GithubIcon.src} alt="Github logo" />
                </a>
            </div>

            <div class="nav-item">
                <a
                    href="https://www.linkedin.com/in/meil"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="View my LinkedIn">
                    <img src={LinkedinIcon.src} alt="LinkedIn logo" />
                </a>
            </div>
        </div>
    </section>
</main>
