---
import { getCollection } from "astro:content"
import Layout from "../../templates/layouts/layout.astro"

export const getStaticPaths = async () => {
    const gardenPosts = await getCollection("garden")
    console.log(gardenPosts)
    return gardenPosts.map((post) => ({
        params: {
            slug: post.id,
        },
        props: {
            post,
        },
    }))
}

const { post } = Astro.props
const title = post.data.title
const description = post.data.description
const body = post.body
---

<Layout title={title}>
    <div class="lock" data-size="small">
        <h1>{title}</h1>
        <p>{description}</p>
        <p>{body}</p>
    </div>
</Layout>
